dist
**/dist
.next
**/.next
coverage
**/coverage
node_modules
**/node_modules
**/node_modules/.prisma
prisma/migrations
**/prisma/migrations
**/prisma/generated
**/src/generated
openapi
**/openapi
**/openapi/**
**/openapi.json
**/openapi.yaml
